.btn {
    font-size: 1rem;
    padding: 0.75rem 5rem;
    border: var(--border-style-primary);
    border-radius: 1.5rem;
    color: var(--color-primary-white);
    background-color: var(--color-secondary-dark);
}