

@font-face {
  font-family: SRegular;
  src: url(./assets/fonts/Satoshi\ Regular.otf);
}
@font-face {
  font-family: SBold;
  src: url(./assets/fonts/Satoshi\ Bold.otf);
}
@font-face {
  font-family: IBold;
  src: url(./assets/fonts/integralcf\ bold.otf);
}